
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    margin-top: 30px;
    padding-bottom: 20px;
    height: 570px;
    width: auto;
    max-width:1400px;
    padding: auto auto;
    margin: auto auto;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}